/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-algori-360-image  {
	max-width: 100%;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
}


.wp-block-cgb-block-algori-360-image.alignfull,
.wp-block-cgb-block-algori-360-image.alignwide {
	/*width: 100%;*/
}

.wp-block-cgb-block-algori-360-image.alignleft {
	/*rtl:ignore*/
	float: left;
	/*rtl:ignore*/
	margin-right: 1em;
}

.wp-block-cgb-block-algori-360-image.alignright {
	/*rtl:ignore*/
	float: right;
	/*rtl:ignore*/
	margin-left: 1em;
}

.wp-block-cgb-block-algori-360-image.aligncenter {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.wp-block-cgb-block-algori-360-image-controls {
  width:100%; 
  text-align:center;
}

